name: Build
on:
  pull_request:
  push:
    branches:
      - main

env:
  JAVA_VERSION: '17'
  JAVA_DISTRO: 'temurin'

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@b4ffde65f46336ab88eb53be808477a3936bae11 # v4.1.1
      - uses: actions/setup-java@0ab4596768b603586c0de567f2430c30f5b0d2b0 # v3.13.0
        with:
          java-version: ${{ env.JAVA_VERSION }}
          distribution: ${{ env.JAVA_DISTRO }}
          cache: maven
      - name: Build and verify
        run: ./mvnw -ntp clean verify
      - name: Copy SBOM file
        run: cp target/*-cyclonedx.json target/my-bom.json
      - name: Nexus IQ Policy Evaluation
        uses: sonatype-nexus-community/iq-github-action@8d2038fbbcb37dc613c28d160843dd0981a7fce8 # v2.1.0
        with:
          serverUrl: https://sonatype-lifecycle.eclipse.org
          username: bMingMXb
          password: ${{ secrets.IQ_TOKEN }}
          applicationId: macos-notarization-service-main
          stage: Build
          target: target/my-bom.json
      - name: Delete temporary SBOM File
        run: rm -f target/my-bom.json
      - name: Upload artifacts
        uses: actions/upload-artifact@a8a3f3ad30e3422c9c7b888a15615d19a852ae32 # v3.1.3
        with:
          path: target/macos-notarization-service-*
